@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-ThinSlanted.woff')
    format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-LightSlanted.woff')
    format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Slanted.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-MediumSlanted.woff')
    format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-BoldSlanted.woff')
    format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-HeavySlanted.woff')
    format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('/assets/fonts/Object_Sans/ObjectSans-BlackSlanted.woff')
    format('woff');
  font-weight: 900;
  font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  outline: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  outline: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: relative;
}

::selection {
  color: #fff;
  background: #000;
}

html,
body {
  min-height: 100vh;
  background: #fff;

  font-family: 'Object Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
